@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    font-family: 'Kumbh Sans';
    background-image: linear-gradient(-180deg,  hsl(273, 75%, 66%),hsl(240, 73%, 65%)); 
}   

.card{
    display: flex;
    background-color: white;
    width: 800px;
    margin-top: 70px;
    border-radius: 20px;
}

.img{
    width: 45%;
   background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
   background-repeat: no-repeat, no-repeat;
   background-size: contain, cover;
   background-position: left -30px top 115px, left -220px top -60px;

}

.card-img{
    position: relative;
    top: 200px;
    left: -110px;
}
.info{
    padding: 60px 40px;
    width: 60%;
}

.info-h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    font-style:normal;
    color: hsl(238, 29%, 16%);
}

.info-h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    font-style:normal;
}

.info-h2:hover{
    color:  hsl(14, 88%, 65%);
}

.info-active{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

.info-para{
    display: none;
    color: hsl(240, 6%, 50%);
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    margin-top: 20px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.info-card{
    margin: 20px auto;
}

.icon-img{
    float: right;
    height: 10%;
}

.foot, .foot a{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    color: hsl(31, 77%, 52%);
    margin: 45px auto;
}


.foot a{
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:940px){

    .card{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 250px;
    }

    .img, .info, .card{
        width: 100%;
    }

    .img{
        background-image: url(./images/bg-pattern-mobile.svg);
        background-position: top;
        background-size: 70%;
        height: 190px;

    }  
    .card-img{
        content: url(./images/illustration-woman-online-mobile.svg);
        top: -170px;
        left: 18%;
        width: 70%;
        position: relative;
    }

    .info-h1{
        text-align: center;
    }

    .icon{
        margin-top: 50px;
    }

    .icon-img{
        margin-left: 50px;
    }

    .info-para{
        width: 95%;
    }
}

@media screen and (max-width:565px){
    body{
        justify-content: start;
        padding: 30px;
    }
}

@media screen and (max-width:560px){
    .card-img{
        top: -140px;
    }
}

@media screen and (max-width:460px){
    .card-img{
        top: -110px;
    }
}

@media screen and (max-width:388px){

    body{
        padding: 10px;
    }

    .card-img{
        top: -100px;
    }
}
